In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [35]:
print(df.columns)  # Print the column names in your DataFrame

Index(['artist', 'song', 'text'], dtype='object')

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Luther Vandross,Any Day Now,"Any day, you'll be gone, oh yeah \r\nAny day,..."
1,Unseen,No Master Race,Fuck off to nazi idea worshipping ku klux klan...
2,Peter Cetera,Even A Fool Can See,One big happy family \r\nTogether the rest of...
3,Kelly Clarkson,A Moment Like This(vegas Style),"What if I told you it was all meant to be, \r..."
4,Kirsty Maccoll,Can't Stop Killing You,He blew into town like a paper sack \r\nIn a ...
5,Supertramp,Summer Romance,In the middle of our summer romance \r\nHe wa...
6,Tori Amos,Beulah Land,Beulah Land \r\nGot a wasted gun \r\nLiberat...
7,Selena Gomez,Forget Forever,"I told, I told, I told myself again \r\nI'm n..."
8,Aerosmith,"Baby, Please Don't Go","Baby, please don't go. \r\nBaby, please don't..."
9,Bruce Springsteen,Empty Sky,I woke up this morning \r\nI could barely bre...

In [9]:
df['text'][0]

"Any day, you'll be gone, oh yeah  \r\nAny day, you'll be gone  \r\n  \r\nAny day now  \r\nI will hear you say goodbye my love  \r\nThen you'll be on your way  \r\nThen my wild beautiful bird, you will have flown  \r\nAny day now, I'll be all alone  \r\nI know that, hey, I know that  \r\n  \r\nAny day now  \r\nWhen the clock strikes go, you'll call it off  \r\nAnd then my tears will flow  \r\nThen the blue shadows will fall all over town  \r\nAny day now, love will let me down  \r\nCause you won't be around  \r\nNo baby now, yeah  \r\n  \r\nI know I shouldn't want to keep you  \r\nIf you don't want to stay  \r\nUntil you're gone forever  \r\nI'll be holding on for dear life  \r\nHolding you this way  \r\nAnd I'm begging you to stay  \r\n  \r\nAny day now  \r\nWhen your restless eyes meet someone new  \r\nAnd to my sad surprise  \r\nThen the blue shadows will fall all over town  \r\nAny day now, I won't last for long  \r\nCause any day, you'll be gone  \r\nThen any day, you'll be gone  \r\nI know, I know that  \r\n  \r\nYou'll be gone, you'll be gone, you'll be gone  \r\nYeah, mercy, any day now  \r\nAny day, you'll be gone  \r\nMercy, yeah  \r\nAny day, you'll be gone\r\n\r\n"

In [10]:
# df = df.sample(5000)

In [11]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [12]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [36]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\amuly\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [39]:
stemmer=PorterStemmer()

In [40]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [42]:
token("you are beautiful")

'you are beauti'

In [43]:
df['text'] = df['text'].apply(lambda x: token(x))

In [44]:
df['text']

0       ani day , you 'll be gone , oh yeah ani day , ...
1       fuck off to nazi idea worship ku klux klan pre...
2       one big happi famili togeth the rest of our li...
3       what if i told you it wa all meant to be , wou...
4       he blew into town like a paper sack in a stole...
                              ...
4995    i wan na see you move can you turn me up a lit...
4996    i 've got some record here to put you in the m...
4997    i 'm go to sing my song and sing it all day lo...
4998    save me , save me , save me save me , save me ...
4999    ( m. greav ) i work in the steel mill where th...
Name: text, Length: 5000, dtype: object

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [52]:
tfid = TfidfVectorizer(analyzer='word',stop_words='english')

In [53]:
matrix = tfid.fit_transform(df['text'])

In [57]:
similer = cosine_similarity(matrix)

In [58]:
similer[0]

array([1.        , 0.00467957, 0.04744171, ..., 0.11312448, 0.07352234,
       0.03124176])

In [64]:
matching_rows = df[df['song'] == 'No Master Race'].index[0]

In [65]:
matching_rows

1

In [66]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distances = sorted(list(enumerate(similer[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for s_id in distances[1:5]:
        songs.append(df.iloc[s_id[0]].song)
        
    return song

In [67]:
recommender('Any Day Now')

['Day By Day', 'Any Way At All', 'Gone', 'Any Way The Wind Blows']

In [68]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))